@font-face {
    src: url("../assets/fonts/FiraCode-Regular.ttf");
    font-family: "Firacode";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Firacode";
    font-size: 8px;
    color: #ff4e5f;
}

#terminalOverlay {
    height: 100vh;
    width: 100vw;
    background-color: #21080a;
    padding-left: 15px;
    padding-right: 15px;
}

#terminal_title {
    margin-top: 15px;
    box-shadow: 0 0 5px rgba(255, 78, 95, 0.6), 0 0 30px rgba(255, 78, 95, 0.2);
    width: 100%;
    background-color: #ff4e5f;
    color: black;
    font-size: 12px;
    text-align: center;
    padding: 4px;
    height: 20px;
    transition: width 0.25s, box-shadow 0.25s;
}

#terminal-box {
    display: none;
    border: 2px solid #ff4e5f;
    box-shadow: 0 0 5px rgba(255, 78, 95, 0.6), inset 0 0 5px rgba(255, 78, 95, 0.6), 0 0 30px rgba(255, 78, 95, 0.2),
        inset 0 0 30px rgba(255, 78, 95, 0.2);
    scrollbar-width: none;
    pointer-events: none;
    transition: height 0.5s, width 0.25s, padding 0.25s, border 0.25s, box-shadow 0.25s;
    padding: 0;
    width: 100%;
    height: 0;
    overflow-wrap: break-word;
    overflow-y: auto;
    margin: 0 0 0;
}

.terminal-info {
    color: #ffd04e;
    text-shadow: 0 0 5px rgba(255, 214, 78, 0.8);
}

.terminal-cya {
    color: #4e7aff;
    text-shadow: 0 0 5px rgba(78, 119, 255, 0.6);
}

br {
    user-select: none;
}

pre::selection {
    background: #ff4e5f;
    color: black;
}

div pre {
    white-space: pre-wrap;
    text-shadow: 0 0 5px rgba(255, 78, 95, 0.8);
}

.large-terminal_box {
    height: 40% !important;
    width: 30% !important;
}

.mobile-terminal_box {
    height: 30% !important;
    width: 100% !important;
}

.terminal-display {
    display: block;
}
