@font-face {
    src: url("../assets/fonts/FiraCode-Regular.ttf");
    font-family: "Firacode";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Firacode";
    font-size: 8px;
    color: #ff4e5f;
}

#terminalOverlay {
    height: 100vh;
    width: 100vw;
    background-color: #21080a;
    padding-left: 15px;
    padding-right: 15px;
}

.terminal_box {
    border: 2px solid #ff4e5f;
    box-shadow: 0 0 5px rgba(255, 78, 95, 0.6), inset 0 0 5px rgba(255, 78, 95, 0.6), 0 0 30px rgba(255, 78, 95, 0.2),
        inset 0 0 30px rgba(255, 78, 95, 0.2);
    scrollbar-width: none;
    pointer-events: none;
}

.terminal-info {
    color: #fff04e;
    text-shadow: 0 0 5px rgba(255, 252, 78, 0.8);
}

.terminal-cya {
    font-weight: bold;
    color: #54ff4e;
    text-shadow: 0 0 5px rgba(87, 255, 78, 0.6);
}

br {
    user-select: none;
}

pre::selection {
    background: #ff4e5f;
    color: black;
}

div pre {
    white-space: pre-wrap;
    text-shadow: 0 0 5px rgba(255, 78, 95, 0.8);
}

.top-left-1 {
    padding: 5px;
    width: 30%;
    height: 45%;
    overflow-wrap: break-word;
    overflow-y: auto;
    margin: 15px 0 0;
}

@media only screen and (max-width: 905px) {
    .terminal_box {
        width: 100%;
        height: 80%;
    }
}
